{% extends 'base.html' %}

{% block page_title %}Grades{% endblock page_title %}
{% block academicsSetActive %}active{% endblock academicsSetActive %}
{% block content %}
<div class="my-2">
    <a href="{% url 'register_grade' %}" class="btn btn-default">Add New Grade</a>
</div>

<div class="card">
    <div class="header">
        <h4 class="title">Grade List</h4>
        <p class="category">General Grade List</p>
    </div>
    <div class="content table-responsive table-full-width">
        {% if grades_list %}
            <table class="table table-striped">
                <thead>
                    <th class="text-primary fw-bold">Grade Name</th>
                    <th class="text-primary fw-bold">Class Teacher</th>

                    <th class="text-primary fw-bold">Actions</th>
                </thead>
                <tbody>
                    {% for grade in grades_list %}
                    <tr>
                        <td>{{grade.grade_name}}</td>
                        <td>{{grade.class_teacher}}</td>
                        
                        <td><a href="/students/student-details/{{student.id}}" class="btn btn-danger btn-sm">MANAGE</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="container">
                <p class="text-primary fw-bold">No Grades found.</p>
            </div>
        {% endif %}
    </div>
</div>

{% endblock content %}