{% extends 'base.html' %}

{% block page_title %}Student Report - {{ term.term_name }}{% endblock page_title %}
{% block academicsSetActive %}active{% endblock academicsSetActive %}
{% block content %}

<div class="card shadow-sm border-0">
    <div class="card-body">
        <div class="header mb-3">
            <h4 class="title text-dark fw-bold">Student Report - {{ term.term_name }}</h4>
            <p class="category text-muted">Detailed report for {{ student.first_name }} {{ student.last_name }}</p>
        </div>
        <div class="content table-responsive">
            {% if marks %}
            <div class="table-responsive">
                <table class="table table-hover border">
                    <thead class="bg-primary text-white">
                        <tr>
                            <th>Subject</th>
                            <th>Teacher</th>
                            <th>Marks</th>
                            <th>Grade</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for mark in marks %}
                        <tr>
                            <td class="fw-medium">{{ mark.subject.name }}</td>
                            <td>{{ mark.teacher.first_name }} {{ mark.teacher.last_name }}</td>
                            <td class="fw-bold">{{ mark.marks }}</td>
                            <td class="fw-bold">
                                <span class="text-primary">{{ mark.get_grade }}</span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="alert alert-info text-center fw-bold">No Marks found.</div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}