<div class="card">
  <div class="header">
    <h4 class="title">Fees Transactions and Balances</h4>
  </div>
  <div class="content">
    <ul class="nav nav-tabs" id="gradeTabs" role="tablist">
      {% for grade, students in grades.items %}
      <li class="nav-item">
        <a
          class="nav-link {% if forloop.first %}active{% endif %}"
          href="#tab-{{ forloop.counter }}"
          data-toggle="tab"
          role="tab"
        >
          {{ grade }}
        </a>
      </li>
      {% endfor %}
    </ul>

    <div class="tab-content">
      {% for grade, students in grades.items %}

      <div
        class="tab-pane fade {% if forloop.first %}in active{% endif %}"
        id="tab-{{ forloop.counter }}"
        role="tabpanel"
      >
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <!-- <th>ID</th> -->
              <th>Student</th>
              <th>Amount Due</th>
              <th>Amount Paid</th>
              <th>Payment Method</th>
              <th>Status</th>
              <th>Due Date</th>
              <th>Last Payment Date</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            {% for student in students %}
            <tr>
              <!-- <td>{{ student.student_id }}</td> -->
              <td>{{ student.student_name }}</td>
              <td>{{ student.amount_due|floatformat:2 }}</td>
              <td>{{ student.amount_paid|floatformat:2 }}</td>
              <td>{{ student.payment_method }}</td>
              <td>
                <span
                  class="{% if student.status == 'Paid' %}text-success{% else %}text-danger{% endif %}"
                >
                  {{ student.status }}
                </span>
              </td>
              <td>{{ student.due_date|date:"M. d, Y" }}</td>
              <td>{{ student.last_payment_date|date:"M. d, Y" }}</td>
              <td>
                <a
                  class="btn btn-info btn-sm"
                  href="/finance/student/{{ student.student_id }}/transactions/"
                >
                  View Details
                </a>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="9" class="text-center">No Transactions Found</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
