<div class="card">
    <div class="header">
        <h4 class="title">Fees Transactions</h4>
        <p class="category">General Fees Transactions</p>
    </div>
    <div class="content table-responsive table-full-width">
        {% if recent_fees_transactions %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-primary fw-semo">Reg Id</th>
                        <th class="text-primary fw-bold">First Name</th>
                        <th class="text-primary fw-bold">Last Name</th>
                        <th class="text-primary fw-bold">Amount Due</th>
                        <th class="text-primary fw-bold">Amount Paid</th>
                        <th class="text-primary fw-bold">Status</th>
                        <th class="text-primary fw-bold">Due Date</th>
                        <th class="text-primary fw-bold">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in recent_fees_transactions %}
                    <tr>
                        <td>{{ transaction.student.student.registration_id }}</td>
                        <td>{{ transaction.student.student.first_name }}</td>
                        <td>{{ transaction.student.student.last_name }}</td>
                        <td>{{ transaction.amount_due }}</td>
                        <td>{{ transaction.amount_paid }}</td>
                        <td>{{ transaction.status }}</td>
                        <td>{{ transaction.due_date }}</td>
                        <td>
                            <a href="/transactions/details/{{ transaction.id }}" class="btn btn-primary btn-sm">DETAILS</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="container">
                <p class="text-primary fw-bold">No transactions found.</p>
            </div>
        {% endif %}
    </div>
</div>
