{% extends 'base.html' %}

{% block page_title %}Teacher Details{% endblock page_title %}
{% block teacherSetActive %}active{% endblock teacherSetActive %}
{% block content %}
<style>
    span {
        color: #164e63;
        opacity: .6;
    }
</style>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- Left Column: Profile Information -->
            <div class="col-lg-4 col-md-5">
                <div class="card card-user">
                    <div class="image">
                        <img src="{{ teacher.profile_picture | default:'https://i.pinimg.com/736x/57/00/c0/5700c04197ee9a4372a35ef16eb78f4e.jpg' }}"
                            alt="Background Image" />
                    </div>
                    <div class="content">
                        <div class="author">
                            <img class="avatar border-white"
                                src="{{ teacher.profile_picture | default:'https://i.pinimg.com/736x/57/00/c0/5700c04197ee9a4372a35ef16eb78f4e.jpg' }}"
                                alt="Profile Image" />
                            <h4 class="title">{{ teacher.first_name }} {{ teacher.last_name }}<br />
                                <a href="#"><small class="text-primary">{{ teacher.registration_id }}</small></a>
                            </h4>
                        </div>
                        <p class="description text-center">
                            "{{ teacher.bio | default:'No bio available' }}"
                        </p>
                    </div>
                    <hr>
                    <div class="text-center">
                        <div class="row">
                            <div class="col-md-4">
                                <h5>{{ teacher.year_of_entry | default:'N/A' }}<br /><small>Year of Entry</small></h5>
                            </div>
                            <div class="col-md-4">
                                <h5 class="text-primary fw-bolder">{{ teacher.gender | default:'N/A' }}<br />
                                    <small>Gender</small>
                                </h5>
                            </div>
                            <div class="col-md-4">
                                <h5>{{ teacher.school.name | default:'N/A' }}<br /><small>School</small></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content">
                        <h4 class="title">Quick Actions</h4>
                        <hr>
                        <div class="row d-flex flex-wrap justify-content-center text-center">
                            <div>
                                <a class="btn btn-primary  my-1" style="font-weight: bolder;"
                                    href="/academics/upload/notes/">Upload Notes</a>
                            </div>
                            <div>
                                <a class="btn btn-primary my-1" style="font-weight: bolder;"
                                    href="/academics/upload/exam/">Upload Exams</a>
                            </div>
                            <div>
                                <a class="btn btn-primary my-1" style="font-weight: bolder;"
                                    href="/academics/upload/marks/">Upload Marks</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Column: Teacher General Information -->
            <div class="col-lg-8 col-md-7">
                <div class="card">
                    <div class="header p-3">
                        <h4 class="title">Register Teacher Information</h4>
                    </div>
                    <div class="row px-3 py-2">
                        <div class="col-md-6">
                            <a href="/teachers/register/teacher/payroll/{{ teacher.id }}"
                                class="btn btn-primary btn-block mb-2">
                                Add Payroll Information
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="/teachers/register/teacher/education_background/{{ teacher.id }}"
                                class="btn btn-primary btn-block mb-2">
                                Add Education Background
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="/teachers/register/teacher/employmenthistory/{{ teacher.id }}"
                                class="btn btn-primary btn-block mb-2">
                                Add Employment History
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="/teachers/register/teacher/nextofkin/{{ teacher.id }}"
                                class="btn btn-primary btn-block mb-2">
                                Add Next of Kin
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="/teachers/register/teacher/currentemployment/{{ teacher.id }}"
                                class="btn btn-primary btn-block mb-2">
                                Add Current Employment
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h4 class="title">Teacher Information</h4>
                    </div>
                    <div class="content">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#teacher-details" role="tab">Teacher
                                    Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#payroll-info" role="tab">Payroll
                                    Information</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#education-background" role="tab">Education
                                    Background</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#employment-history" role="tab">Employment
                                    History</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#next-of-kin" role="tab">Next of Kin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#current-employment" role="tab">Current
                                    Employment</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <!-- Teacher Details Tab -->
                            <div class="tab-pane active" id="teacher-details" role="tabpanel">
                                {% include 'features/teacher_general_details.html' %}
                            </div>

                            <!-- Payroll Information Tab -->
                            <div class="tab-pane" id="payroll-info" role="tabpanel">
                                {% include 'features/payroll_information.html' %}
                            </div>

                            <!-- Education Background Tab -->
                            <div class="tab-pane" id="education-background" role="tabpanel">
                                {% include 'features/eduction_background.html' %}
                            </div>

                            <!-- Employment History Tab -->
                            <div class="tab-pane" id="employment-history" role="tabpanel">
                                {% include 'features/employment_background.html' %}
                            </div>

                            <!-- Next of Kin Tab -->
                            <div class="tab-pane" id="next-of-kin" role="tabpanel">
                                {% include 'features/next_of_kin_information.html' %}
                            </div>

                            <!-- Current Employment Tab -->
                            <div class="tab-pane" id="current-employment" role="tabpanel">
                                {% include 'features/current_employment.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Right Column: Teacher General Information -->
            <div class="col-lg-8 col-md-7">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Teacher Uploads</h4>
                    </div>
                    <div class="content">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#student-marks" role="tab">Uploaded
                                    Student Marks</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#notes" role="tab">Uploaded Notes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#exams" role="tab">Uploaded Exams</a>
                            </li>

                        </ul>
                        <div class="tab-content">
                            <!-- Student Grades -->
                            <div class="tab-pane active" id="student-marks" role="tabpanel">
                                {% include 'features/teacher_general_details.html' %}
                            </div>

                            <!-- Notes -->
                            <div class="tab-pane" id="notes" role="tabpanel">
                                {% include 'features/uploaded_notes.html' %}
                            </div>

                            <!-- Exams Tab -->
                            <div class="tab-pane" id="exams" role="tabpanel">
                                {% include 'features/uploaded_exams.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}