{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="m-2 p-5 my-2">
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%; background-color: #991b1b;"
                 aria-valuenow="100"
                 aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div>
            <h5>Record Fee Transaction</h5>
        </div>
        <div>
            <form method="POST" action="">
                {% csrf_token %}
                {{ form.as_p }}
    
                <div class="row">
                    <div class="col-md-2 col-sm-3 m-1">
                        <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('#id_grade').change(function() {
        var gradeId = $(this).val();
        if (gradeId) {
            $.ajax({
                url: "{% url 'get_students_by_grade' %}",
                data: { 'grade_id': gradeId },
                dataType: 'json',
                success: function(data) {
                    var studentSelect = $('#id_student');
                    studentSelect.empty();
                    studentSelect.append('<option value="">Select a student</option>');

                    $.each(data.students, function(index, student) {
                        // Ensure we're using StudentTuitionDescription.id
                        studentSelect.append('<option value="' + student.id + '">' + student.first_name + ' ' + student.last_name + '</option>');
                    });

                    studentSelect.trigger("change"); // Ensures Django recognizes the change
                }
            });
        }
    });
});

</script>


{% endblock %}
