{% extends 'base.html' %}
{% block content %}
<div class="flex space-x-4 mb-6">
    <a href="/finance/register/schoolfees/">
        <button type="button" class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 transition">Register School fees</button>
    </a>
    <a href="/finance/grades/summary/">
        <button type="button" class="px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700 transition">Monitor Grade Fees Payment</button>
    </a>
</div>

{% include  'features/schoolfeesgradelist.html' %}

{% endblock content %}