<div class="row">
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="content">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="icon-big icon-warning text-center">
                            <i class="ti-server"></i>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="numbers">
                            <p>Grades</p>
                            {{grades_count}}
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <hr />
                    <a href="/academics/grades/" class="stats">
                        <i class="ti-pencil-alt"></i> Manage
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="content">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="icon-big icon-success text-center">
                            <i class="ti-ruler"></i>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="numbers">
                            <p>Subjects</p>
                            {{subjects_count}}
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <hr />
                    <a href="/academics/subjects/" class="stats">
                        <i class="ti-pencil-alt"></i> Manage
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="content">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="icon-big icon-danger text-center">
                            <i class="ti-book"></i>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="numbers">
                            <p>Exams</p>
                            {{exams_count}}
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <hr />
                    <a href="/academics/exams/" class="stats">
                        <i class="ti-pencil-alt"></i> Manage
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="card">
            <div class="content">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="icon-big icon-info text-center">
                            <i class="ti-menu"></i>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="numbers">
                            <p>Topics</p>
                            {{topics_count}}
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <hr />
                    <a href="/academics/grades/" class="stats">
                        <i class="ti-pencil-alt"></i> Manage
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>