
<!-- Employment History Table -->
{% if employment_history %}
    <h3>Employment History</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Organization</th>
                <th>Department</th>
                <th>Role</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Responsibilities</th>
            </tr>
        </thead>
        <tbody>
        {% for job in employment_history %}
            <tr>
                <td>{{ job.organization | default:'Not Provided' }}</td>
                <td>{{ job.department | default:'Not Provided' }}</td>
                <td>{{ job.role | default:'Not Provided' }}</td>
                <td>{{ job.start_date | date:"Y-m-d" | default:'Not Provided' }}</td>
                <td>{{ job.end_date|date:"Y-m-d" | default:'Present' }}</td>
                <td>{{ job.responsibilities | default:'Not Provided' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No employment history available.</p>
{% endif %}