<div class="card">
    <div class="content table-responsive table-full-width">
        {% if notes %}
        <table class="table table-striped">
            <thead>
                <th class="text-primary fw-semo">Subject</th>
                <th class="text-primary fw-bold">Topics</th>
                <th class="text-primary fw-bold">Description</th>
                <th class="text-primary fw-bold">Grade</th>
                <th class="text-primary fw-bold">Action</th>
            </thead>
            <tbody>
                {% for note in notes %}
                <tr>
                    <td>{{ note.subject.name }}</td>
                    <td>
                        {% for topic in note.topics.all %}
                            <span>{{ topic.name }}</span><br>
                        {% endfor %}
                    </td>
                    <td>{{ note.description }}</td>
                    <td>{{ note.grade.grade_name }}</td>
                    <td><a href="/notes/details/{{ note.id }}/" class="btn btn-sm btn-primary">Manage</a></td>
                </tr>
                {% endfor %}
                {% else %}
                <center>
                    <p>No notes found</p>
                </center>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
